/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #272727;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

@keyframes blinkCursor {
    50% {
        border-color: transparent;
    }
}

#typing2 {
    font-family: monospace;
    letter-spacing: 3px;
    color: #33ff33;
    padding: 5px;
    margin: 0;
    white-space: pre;
    overflow: hidden;
    border-right: 3px solid green;
    animation: blinkCursor 1s steps(1) infinite;
    box-sizing: border-box;
}

.terminal {
    background-color: #272727;
    letter-spacing: 3px;
    color: #33ff33;
    font-family: monospace;
    padding: 10px;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 2s, opacity 2s linear;
}

#output {
    white-space: pre-wrap;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

#terminalInput, #submitCode {
    background-color: transparent;
    border: 1px solid #33ff33;
    color: #33ff33;
    padding: 10px;
    margin: 0 5px;
    outline: none;
}

#terminalInput {
    flex-grow: 1;
}

#submitCode {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

/* Reveal elements when .fade-in is added */
.fade-in {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

@media (max-width: 600px) {
    .input-group {
        flex-direction: column;
    }

    #submitCode {
        width: 100%;
        margin-top: 10px;
    }
}
